<div class="container">
  <%= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :date, label: false, input_html: { class: 'form-control' } %>
    <p class="p-1"> Describe your workout </p>
    <%= f.input :workout, label: false, input_html: { class: 'form-control' } %>
    <%= f.input :mood, label: "How are you feeling?", :collection => %w[TiredðŸ˜° MoodyðŸ’© HappyðŸ˜Š ExcitedðŸŽŠ LethargicðŸ˜© AnnoyedðŸ™„ Energeticâš¡ï¸ StrongðŸ‹ SleepyðŸ˜´], input_html: { class: 'form-control' } %>
    <%= f.input :length, label: "Workout duration", input_html: { class: 'form-control' } %>
    <br>
    <%= f.button :submit, class: "my-button" %>
  <% end %>
</div>
