<div class="container">

  <h1> My workout details </h1>
  <p class="h3-text"><%= @workout.date.strftime("%A %b %d") %></p>
  <p> <%= @workout.workout %> </p>
  <p> <%= @workout.mood %> </p>
  <p> <%= @workout.length %> </p>

  <h2>Exercises</h2>
  <%= render @workout.exercises, locals: {zone: @zone} %>
  <br>
  <h4>Add an Exercise</h4>
  <%= render "exercises/form", locals: {zone: @zone} %>

  <%= link_to root_path  %>

  <br>

  <%= link_to edit_workout_path(@workout)  %>


  <%= link_to workout_path(@workout), method: :delete, data: { confirm: "Are you sure you want to delete this workout?" }  %>

</div>

