<!DOCTYPE html>
<html>
  <head>
<!--     <title>WorkoutLog</title> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand active nav brand">
          <%= link_to "Workout Log", root_path %>
          <%= link_to "New Workout", new_workout_path %>
          </a>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
